body {
  margin: 0;
  font-family: 'Georgia', serif;
  color: #222;
}

.wrapper {
  width: 100%;
  max-width: 720px;
  margin: 4rem auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#editor {
  padding: 2rem;
  border: none;
  outline: none;
  min-height: 200px;
  font-size: 1.25rem;
  background: white;
  border-radius: 8px;
  line-height: 1.4;
  letter-spacing: 0.25px;
  caret-color: sienna;
}

button {
    cursor: pointer;
}

.dust-caps {
  margin-bottom: 1rem;
  margin-top: 1rem;;
  padding: 20px;
  letter-spacing: 3px;
  font-size: 0.8rem;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: sienna;
  font-weight: bold;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dust-char {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

#editor {
  position: relative;
  min-height: 200px;
  padding: 20px;
  white-space: pre-wrap;
}